
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
         <td>UserName:</td>
            <td>
                @Html.TextBox("Un")
            </td>
            <br />
            <br />
            <br />
            <br />
            <td>Password:</td>
            <td>
                @Html.TextBox("Pwd")
            </td>
            <br />
            <br />
            <br />
            <br />
            <td>Role:</td>
            <td>
                @Html.TextBox("Rol") 
            </td>
            <br />
            <br />
            <br />
            <br />
            <input type="submit" value="Login" />
            @Html.ActionLink("Register", "Register", "Registration")
            <br />
            <br />
            <br />
            <br />
    if (ViewBag.Message != null)
    {
        <h3 style="color:red;font:bold"> @ViewBag.Message</h3>
    }
}
